html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  /*background: rgb(54,57,63) url(img/JcK.png) no-repeat top;*/
  background-color: white;
}

a {
  text-decoration: none;
}

.loader {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
}

.loader > div {
  height: 100px;
  width: 100px;
  border: 15px solid rgb(255, 255, 255);
  border-bottom-color: red;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.ScRipTArst {
  display: none;
}

.jumbotrons {
  background-color: #e2edff;
  margin-top: 4em;
}

.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  cursor: default;
}
.brand h1 span {
  color: crimson;
  cursor: default;
}

.ID2 {
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  color: black;
}

.Txt1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-shadow: 4px 4px 5px red;
}

.tex {
  color: rgb(32, 32, 145);
  font-size: 20px;
}

/* scroll
::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(0, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
*/
/* STOP BAGIAN SCROLL 
/* Style pada video: 100% lebar dan tinggi untuk menutupi seluruh jendela browser */
/*
#pidio {
  position: relative;
  padding-top: 4rem;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
*/
.section-title {
  cursor: default;
  font-size: 2.8rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}

/* Footer */

#footer .footer {
  flex-direction: column;
  padding-top: 10px;
}

#footer .container {
  min-height: 10vh;
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-item,
.brand,
h1,
br,
#footer,
.NoProfile,
.ID,
.ID2,
.slide-right,
.section-title,
.Contact {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
