@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

* {
  margin: 0;
}

body {
  /*background: rgb(54,57,63) url(img/JcK.png) no-repeat top;*/
  background-color: white;
  background-size: cover;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: center left;
}

a {
  text-decoration: none;
}

#footer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header section */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* End  Media Query For Desktop */

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

p {
  font-family: Roboto, arial, sans-serif;
  color: white;
}

table {
  background-color: darkblue;
  width: 15%;
  position: relative;
  left: 1px;
}

.navbar-brand {
  color: white;
  font-family: "Monoton", cursive;
  font-size: 1.5rem;
  opacity: 80%;
  text-shadow: 3px 3px 5px red;
}

.NoProfile {
  margin-left: 40px;
  margin-top: 10px;
}

.ID {
  float: left;
  font-family: "Shizuru", cursive;
  font-size: 2rem;
  margin-top: -400px;
  margin-left: 300px;
  color: black;
}

.ID2 {
  font-family: "Merriweather", serif;
  float: left;
  font-size: 2rem;
  margin-top: -370px;
  margin-left: 298px;
  color: black;
}

.imeg {
  position: absolute;
  z-index: 6;
  margin-top: -1055px;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
  max-width: 400px;
}

.slide-right .Txt1 {
  color: whitesmoke;
  font-size: 30px;
  animation: 3s slide-right;
  animation-delay: 0s;
  text-shadow: 4px 4px 5px red;
}

@keyframes slide-right {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: 0%;
  }
}

#KlkRls {
  color: white;
  position: relative;
  left: 0.87%;
}

#Klkicoc {
  color: white;
  position: relative;
  right: -15px;
}

#bg1 {
  color: #dc7633;
  width: 58px;
  height: 60px;
  margin: auto;
}

#bg2 {
  color: #dc7633;
  width: 60px;
  height: 50px;
  margin: auto;
}

/* START BAGIAN SCROLL 
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* STOP BAGIAN SCROLL 

/* Style pada video: 100% lebar dan tinggi untuk menutupi seluruh jendela browser */
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

/*Tambahkan beberapa konten di bagian bawah video / halaman */
.content {
  position: relative;
  bottom: 0;
  color: #f1f1f1;
  width: 5%;
  padding: 20px;
  z-index: 2;
  margin-left: 85.7%;
  margin-top: -95px;
}

/* Style pada button  yang digunakan untuk jeda / memutar video */
#myBtn {
  width: 110px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  z-index: 3;
  border-radius: 20px;
  transition: 1s;
}

#myBtn:hover {
  transform: scale(1.1) rotate(3deg);
  background: #ddd;
  color: black;
  z-index: 4;
}

.section-title {
  font-size: 5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.7rem;
}
/* End Footer */

#footer .container {
  min-height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
